.test {
    width: 100%;
    height: 500px;
    background-color: gray;
    position: relative;
}

.test2 {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    right: 0;
}
.test3 {
    width: 50px;
    height: 50px;
    background-color: purple;
    position: absolute;
    bottom: 10%;
}
